{% extends "layout.html.twig" %}
{% block title 'Customisation' %}


    {% block content %}
        <h1>Etape suivante ! </h1>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:20%;">20%</div>
        </div>
        <h2 class="sous_titre"> Choix de vos boutons </h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <form name="choix_tissu" method="post">
                        <div class="form-group">
                            <table class="table">
                                <tr>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Photo</th>
                                    <th>Prix</th>
                                </tr>
                                {% for bouton in boutons %}
                                    <tr>
                                        <td>{{ bouton.titre_bouton }} </td>
                                        <td>{{ bouton.description_bouton }} </td>
                                        <td><img src="{{ bouton.photo_bouton }}" alt="" width="200" class="select_img" data-id="{{ bouton.id_bouton }}"/> </td>
                                        <td>{{ bouton.prix_bouton }} € </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <button type="submit" class="btn btn-primary" > Etape suivante </button>
                            <input type="hidden" name="custom_product" id="custom_product">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">

                    {#rajouter les liens de la config et des mesures prises au fur et à mesure#}


                </div>
            </div>
        </div>

    {% endblock %}

        {% block javascripts %}
        {{ parent() }}
     <script src="{{ asset('script/choixcustom.js')}}"></script>
          {% endblock %}

