{% extends "layout.html.twig" %}
{% block title 'Admin produit' %}
{% block content %}
    <h1>Gestion de Stock</h1>
    <div class="row">
        <div class="col-md-2">
            <form method="POST" action="">
                <div class="form-group">
                    <label>XS</label>
                    <input name="taille_id-XS" type="hidden" class="form-control" value="1"></input>
                    <input name="stock-XS" type="text" class="form-control" value="{% if produits is not empty %}{{ produits[0].stock }}{% endif %}"></input>
                </div>
                <div class="form-group">
                    <label>S</label>
                    <input name="taille_id-S" type="hidden" class="form-control" value="2"></input>
                    <input name="stock-S" type="text" class="form-control" value="{% if produits is not empty %}{{ produits[1].stock }}{% endif %}"></input>
                </div>
                <div class="form-group">
                    <label>M</label>
                    <input name="taille_id-M" type="hidden" class="form-control" value="3"></input>
                    <input name="stock-M" type="text" class="form-control" value="{% if produits is not empty %}{{ produits[2].stock }}{% endif %}"></input>
                </div>
                <div class="form-group">
                    <label>L</label>
                    <input name="taille_id-L" type="hidden" class="form-control" value="4"></input>
                    <input name="stock-L" type="text" class="form-control" value="{% if produits is not empty %}{{ produits[3].stock }}{% endif %}"></input>
                </div>
                <div class="form-group">
                    <label>XL</label>
                    <input name="taille_id-XL" type="hidden" class="form-control" value="5"></input>
                    <input name="stock-XL" type="text" class="form-control" value="{% if produits is not empty %}{{ produits[4].stock }}{% endif %}"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Submit</button>
                    <a href="{{ path('admin_produits') }}" class="btn btn-default">
                        Annuler
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}